{{define "view/show"}}
<div class="row">
    <h1>View Contacts</h1>
    {{if .UnmanagedCount }}
        <p>You have {{ .UnmanagedCount | printf "%d" }} contacts that have no manager.</p>
    {{end}}

    {{if .ManagedCount }}
        <p>You have {{ .ManagedCount | printf "%d" }} contacts with managers as follows.</p>
        {{ .Managed | printf "%s" }}
    {{end}}
</div>
{{end}}
