{{define "account/show"}}
<div class="row">
    <div class="large-6 columns"><h2>Hi {{ .CurrentUser.Name }}</h2></div>
    <div class="large-6 columns">
        <img src="{{.CurrentUser.Avatar}}">
    </div>
</div>

{{end}}
