{{define "index/home"}}
<div class="row">
    <div class="large-8 columns">
        <h1>Home</h1>
        <p>Zurb Foundation is loaded and ready for some sweet UX.</p>
        <p>Developers use Bootstrap, designers use Foundation =]</p>
    </div>
</div>

{{end}}
