<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Norgie</title>
    <link rel="stylesheet" href="/assets/css/foundation.min.css">
    <link rel="stylesheet" href="/assets/css/app.css">
</head>
<body>

<div class="top-bar">
    <div class="top-bar-left">
        <ul class="menu simple">
            <li class="menu-text"><a href="/">Norgie</a></li>
            {{if .CurrentUser}}
            <li><a href="/view">View</a></li>
            {{end}}
        </ul>
    </div>
    <div class="top-bar-right">
        <ul class="menu simple">
            {{if .CurrentUser}}
            <li><a href="/account">Account</a></li>
            <li><a href="/signout">Sign Out</a></li>
            {{else}}
            <li><a href="/view">Sign In</a></li>
            {{end}}
        </ul>
    </div>
</div>

<div class="large-12 columns">
    {{ range $flash := .Flashes }}
    <div class="success callout" data-closable>
        {{ $flash }}
        <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {{ end }}
    {{ yield }}
</div>
<script src="/assets/js/vendor/jquery.js"></script>
<script src="/assets/js/vendor/what-input.js"></script>
<script src="/assets/js/vendor/foundation.min.js"></script>
<script src="/assets/js/app.js"></script>

</body>
</html>
